GOOGLE_API_KEY="GOOGLE_GEMINI_API_KEY" # Limited free tokens available, you will need to create an account and get your API key from Google's website.
NOTION_API_KEY="your_notion_api_key_here"
NOTION_PARENT_PAGE_ID="Page ID come Here"